In [1]:
import json
import requests

# Ryan code starts

In [10]:
url = "https://api.covid19api.com/all"
response = requests.get(url)
with open("covid_all.json", 'w') as jsonfile:
    json.dump(response.json(), jsonfile)

In [12]:
with open("static/data/covid_all.json") as f:
    covid = json.load(f)

AttributeError: 'list' object has no attribute 'head'

In [14]:
#code to store data in MongoDB
import pymongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.covid_db
for i in range(len(covid)):
    db.historical.insert_one(covid[i])

In [15]:
confirmed = []
deaths = []
recovered = []

In [16]:
for i in range(len(covid)):
    data = covid[i]
    if data['Status'] == 'confirmed':
        confirmed.append(data)
    elif data['Status'] == 'deaths':
        deaths.append(data)
    elif data['Status'] == 'recovered':
        recovered.append(data)

KeyError: 'Status'

In [18]:
def get_date_list(list):
    dates = []
    for i in range(len(list)):
        if list[i]['Date'] not in dates:
            dates.append(list[i]['Date'])
    return sorted(dates)

In [19]:
dates_confirmed = []
dates_deaths = []
dates_recovered = []
dates_confirmed = get_date_list(confirmed)
dates_deaths = get_date_list(deaths)
dates_recovered = get_date_list(recovered)

In [20]:
covid_clean = {
    'confirmed': {},
    'deaths': {},
    'recovered': {}    
}

In [21]:
def get_date_data(dates, data_list, status):
    for i in range(len(dates)):
        current = []
        for j in range(len(data_list)):
            if dates[i] == data_list[j]["Date"]:
                current.append(data_list[j])
        covid_clean[status][dates[i]] = current
    return covid_clean

In [22]:
covid_clean = get_date_data(dates_confirmed, confirmed, 'confirmed')
covid_clean = get_date_data(dates_deaths, deaths, 'deaths')
covid_clean = get_date_data(dates_recovered, recovered, 'recovered')

In [ ]:
# covid_clean
# for i in range(len(dates_deaths)):
#     print(len(covid_clean['deaths'][dates_deaths[i]]))

In [ ]:
# import pymongo
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)
# db = client.covid_db
# db.covid_clean.insert_one(covid_clean)  ## this is not working due to oversize

# db.covid_confirmed.insert_one(covid_clean['confirmed'])
# db.covid_deaths.insert_one(covid_clean['deaths'])
# db.covid_recovered.insert_one(covid_clean['recovered'])

# Ryan code ends

# Kana code starts

In [3]:
import pandas as pd
from datetime import datetime
import numpy as np

In [4]:
# Read unemployment claims data
claim_data = pd.read_csv("resources/unemployment_by_state.csv", parse_dates=True)
claim_data.head()

,State,Filed week ended,Initial Claims,Reflecting Week Ended,Continued Claims,Covered Employment,Insured Unemployment Rate
0,Alabama,1/5/2019,"6,660",12/29/2018,"22,085","1,894,608",1.17
1,Alabama,1/12/2019,"4,386",1/5/2019,"20,075","1,894,608",1.06
2,Alabama,1/19/2019,"3,217",1/12/2019,"17,574","1,894,608",0.93
3,Alabama,1/26/2019,"2,414",1/19/2019,"16,904","1,894,608",0.89
4,Alabama,2/2/2019,"2,505",1/26/2019,"16,343","1,894,608",0.86

In [5]:
# Select needed columns
claim_data = claim_data[['State','Filed week ended','Initial Claims']]
claim_data.head()

     State Filed week ended Initial Claims
0  Alabama         1/5/2019          6,660
1  Alabama        1/12/2019          4,386
2  Alabama        1/19/2019          3,217
3  Alabama        1/26/2019          2,414
4  Alabama         2/2/2019          2,505

In [6]:
# Replace comma with empty space
claim_data = claim_data.stack().str.replace(',','').unstack()
claim_data.head()

     State Filed week ended Initial Claims
0  Alabama         1/5/2019           6660
1  Alabama        1/12/2019           4386
2  Alabama        1/19/2019           3217
3  Alabama        1/26/2019           2414
4  Alabama         2/2/2019           2505

In [7]:
# Change the date format to be able to sort
claim_data['Filed week ended'] = pd.to_datetime(claim_data['Filed week ended'])

# Retrive data only after 1/1/2020
filtered_claim_data = claim_data.loc[claim_data["Filed week ended"] > "2020-01-01"]

# Remove timestamp
filtered_claim_data["Filed week ended"] = filtered_claim_data["Filed week ended"].map(lambda ts: ts.strftime("%Y-%m-%d"))

# Drop na
filtered_claim_data = filtered_claim_data.dropna()
filtered_claim_data.head()

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      State Filed week ended Initial Claims
52  Alabama       2020-01-04           4578
53  Alabama       2020-01-11           3629
54  Alabama       2020-01-18           2483
55  Alabama       2020-01-25           2129
56  Alabama       2020-02-01           2170

In [8]:
# Change data type to int
filtered_claim_data['Initial Claims'] = filtered_claim_data['Initial Claims'].astype(int)

# Check data type again
filtered_claim_data.dtypes

State               object
Filed week ended    object
Initial Claims       int64
dtype: object

In [9]:
# Create a dictionary for claims by state for each date
df = filtered_claim_data.groupby(["Filed week ended", "State"]).first().reset_index()
datelist = filtered_claim_data["Filed week ended"].unique()
claims_jsonfile = {}

for i in range(len(datelist)):
    claims_jsonfile[datelist[i]] = list()
    for j in range(len(df)):
        if datelist[i] == df["Filed week ended"].iloc[j]:
            state = df['State'][j]
            number = df['Initial Claims'][j]
            claims_jsonfile[datelist[i]].append({state:number}) 
claims_jsonfile

{'2020-01-04': [{'Alabama': 4578},
  {'Alaska': 981},
  {'Arizona': 3132},
  {'Arkansas': 2576},
  {'California': 36720},
  {'Colorado': 2431},
  {'Connecticut': 7852},
  {'Delaware': 875},
  {'District of Columbia': 481},
  {'Florida': 4618},
  {'Georgia': 17060},
  {'Hawaii': 1825},
  {'Idaho': 2957},
  {'Illinois': 11779},
  {'Indiana': 4434},
  {'Iowa': 4586},
  {'Kansas': 2019},
  {'Kentucky': 5175},
  {'Louisiana': 1658},
  {'Maine': 1663},
  {'Maryland': 3997},
  {'Massachusetts': 9464},
  {'Michigan': 13207},
  {'Minnesota': 7293},
  {'Mississippi': 1178},
  {'Missouri': 7474},
  {'Montana': 1555},
  {'Nebraska': 1099},
  {'Nevada': 2264},
  {'New Hampshire': 690},
  {'New Jersey': 15325},
  {'New Mexico': 799},
  {'New York': 44846},
  {'North Carolina': 3508},
  {'North Dakota': 836},
  {'Ohio': 10759},
  {'Oklahoma': 2943},
  {'Oregon': 6714},
  {'Pennsylvania': 27298},
  {'Puerto Rico': 853},
  {'Rhode Island': 1972},
  {'South Carolina': 7471},
  {'South Dakota': 398},
  {'Tennessee': 3084},
  {'Texas': 12367},
  {'Utah': 1518},
  {'Vermont': 680},
  {'Virgin Islands': 10},
  {'Virginia': 3188},
  {'Washington': 10024},
  {'West Virginia': 1564},
  {'Wisconsin': 12854},
  {'Wyoming': 662}],
 '2020-01-11': [{'Alabama': 3629},
  {'Alaska': 1371},
  {'Arizona': 4654},
  {'Arkansas': 2493},
  {'California': 51993},
  {'Colorado': 3001},
  {'Connecticut': 5986},
  {'Delaware': 1107},
  {'District of Columbia': 706},
  {'Florida': 6862},
  {'Georgia': 17962},
  {'Hawaii': 1826},
  {'Idaho': 2131},
  {'Illinois': 12703},
  {'Indiana': 4890},
  {'Iowa': 4836},
  {'Kansas': 2140},
  {'Kentucky': 3968},
  {'Louisiana': 2521},
  {'Maine': 1561},
  {'Maryland': 4627},
  {'Massachusetts': 8784},
  {'Michigan': 14245},
  {'Minnesota': 5933},
  {'Mississippi': 1515},
  {'Missouri': 10913},
  {'Montana': 1755},
  {'Nebraska': 1171},
  {'Nevada': 2792},
  {'New Hampshire': 722},
  {'New Jersey': 13469},
  {'New Mexico': 1194},
  {'New York': 23314},
  {'North Carolina': 4628},
  {'North Dakota': 1530},
  {'Ohio': 9957},
  {'Oklahoma': 2034},
  {'Oregon': 6215},
  {'Pennsylvania': 26356},
  {'Puerto Rico': 836},
  {'Rhode Island': 1817},
  {'South Carolina': 4629},
  {'South Dakota': 468},
  {'Tennessee': 3711},
  {'Texas': 21902},
  {'Utah': 1834},
  {'Vermont': 649},
  {'Virgin Islands': 24},
  {'Virginia': 3643},
  {'Washington': 9069},
  {'West Virginia': 2638},
  {'Wisconsin': 8255},
  {'Wyoming': 829}],
 '2020-01-18': [{'Alabama': 2483},
  {'Alaska': 1181},
  {'Arizona': 4152},
  {'Arkansas': 1729},
  {'California': 64858},
  {'Colorado': 2522},
  {'Connecticut': 3776},
  {'Delaware': 830},
  {'District of Columbia': 594},
  {'Florida': 6088},
  {'Georgia': 8161},
  {'Hawaii': 1234},
  {'Idaho': 2172},
  {'Illinois': 14807},
  {'Indiana': 3741},
  {'Iowa': 3615},
  {'Kansas': 2402},
  {'Kentucky': 3084},
  {'Louisiana': 2008},
  {'Maine': 959},
  {'Maryland': 3739},
  {'Massachusetts': 6940},
  {'Michigan': 10304},
  {'Minnesota': 4463},
  {'Mississippi': 1135},
  {'Missouri': 4938},
  {'Montana': 1236},
  {'Nebraska': 988},
  {'Nevada': 2451},
  {'New Hampshire': 613},
  {'New Jersey': 10728},
  {'New Mexico': 947},
  {'New York': 17823},
  {'North Carolina': 4217},
  {'North Dakota': 785},
  {'Ohio': 7865},
  {'Oklahoma': 1981},
  {'Oregon': 4051},
  {'Pennsylvania': 16218},
  {'Puerto Rico': 3124},
  {'Rhode Island': 1194},
  {'South Carolina': 3126},
  {'South Dakota': 338},
  {'Tennessee': 3093},
  {'Texas': 15783},
  {'Utah': 1458},
  {'Vermont': 755},
  {'Virgin Islands': 40},
  {'Virginia': 2831},
  {'Washington': 9079},
  {'West Virginia': 1895},
  {'Wisconsin': 6388},
  {'Wyoming': 636}],
 '2020-01-25': [{'Alabama': 2129},
  {'Alaska': 1003},
  {'Arizona': 3475},
  {'Arkansas': 1683},
  {'California': 45596},
  {'Colorado': 2164},
  {'Connecticut': 2949},
  {'Delaware': 674},
  {'District of Columbia': 534},
  {'Florida': 5206},
  {'Georgia': 5257},
  {'Hawaii': 1014},
  {'Idaho': 1821},
  {'Illinois': 9762},
  {'Indiana': 2956},
  {'Iowa': 3115},
  {'Kansas': 2557},
  {'Kentucky': 2569},
  {'Louisiana': 1878},
  {'Maine': 944},
  {'Maryland': 3283},
  {'Massachusetts': 6022},
  {'Michigan': 7678},
  {'Minnesota': 3931},
  {'Mississippi': 993},
  {'Missouri': 5474},
  {'Montana': 922},
  {'Nebraska': 960},
  {'Nevada': 2101},
  {'New Hampshire': 577},
  {'New Jersey': 9325},
  {'New Mexico': 764},
  {'New York': 15022},
  {'North Carolina': 3344},
  {'North Dakota': 543},
  {'Ohio': 8086},
  {'Oklahoma': 1830},
  {'Oregon': 4457},
  {'Pennsylvania': 13359},
  {'Puerto Rico': 2335},
  {'Rhode Island': 1048},
  {'South Carolina': 2248},
  {'South Dakota': 291},
  {'Tennessee': 2484},
  {'Texas': 13070},
  {'Utah': 1271},
  {'Vermont': 518},
  {'Virgin Islands': 44},
  {'Virginia': 3059},
  {'Washington': 8072},
  {'West Virginia': 1290},
  {'Wisconsin': 6134},
  {'Wyoming': 531}],
 '2020-02-01': [{'Alabama': 2170},
  {'Alaska': 1122},
  {'Arizona': 3807},
  {'Arkansas': 1837},
  {'California': 43458},
  {'Colorado': 2049},
  {'Connecticut': 2994},
  {'Delaware': 622},
  {'District of Columbia': 539},
  {'Florida': 5457},
  {'Georgia': 5199},
  {'Hawaii': 1135},
  {'Idaho': 1446},
  {'Illinois': 9343},
  {'Indiana': 3016},
  {'Iowa': 3066},
  {'Kansas': 2000},
  {'Kentucky': 2625},
  {'Louisiana': 2058},
  {'Maine': 881},
  {'Maryland': 3203},
  {'Massachusetts': 5523},
  {'Michigan': 6869},
  {'Minnesota': 3700},
  {'Mississippi': 963},
  {'Missouri': 4801},
  {'Montana': 902},
  {'Nebraska': 833},
  {'Nevada': 2286},
  {'New Hampshire': 456},
  {'New Jersey': 8304},
  {'New Mexico': 784},
  {'New York': 16545},
  {'North Carolina': 3611},
  {'North Dakota': 447},
  {'Ohio': 7329},
  {'Oklahoma': 1779},
  {'Oregon': 4853},
  {'Pennsylvania': 15893},
  {'Puerto Rico': 1998},
  {'Rhode Island': 971},
  {'South Carolina': 2099},
  {'South Dakota': 217},
  {'Tennessee': 2362},
  {'Texas': 13818},
  {'Utah': 1290},
  {'Vermont': 481},
  {'Virgin Islands': 35},
  {'Virginia': 2575},
  {'Washington': 6619},
  {'West Virginia': 1364},
  {'Wisconsin': 6280},
  {'Wyoming': 529}],
 '2020-02-08': [{'Alabama': 2176},
  {'Alaska': 980},
  {'Arizona': 3636},
  {'Arkansas': 1724},
  {'California': 40392},
  {'Colorado': 2482},
  {'Connecticut': 2944},
  {'Delaware': 608},
  {'District of Columbia': 508},
  {'Florida': 5605},
  {'Georgia': 5577},
  {'Hawaii': 1137},
  {'Idaho': 1443},
  {'Illinois': 9794},
  {'Indiana': 2725},
  {'Iowa': 2379},
  {'Kansas': 2107},
  {'Kentucky': 2936},
  {'Louisiana': 1805},
  {'Maine': 702},
  {'Maryland': 3150},
  {'Massachusetts': 5878},
  {'Michigan': 6627},
  {'Minnesota': 4108},
  {'Mississippi': 968},
  {'Missouri': 3670},
  {'Montana': 935},
  {'Nebraska': 675},
  {'Nevada': 2794},
  {'New Hampshire': 507},
  {'New Jersey': 9288},
  {'New Mexico': 873},
  {'New York': 15010},
  {'North Carolina': 3326},
  {'North Dakota': 526},
  {'Ohio': 6825},
  {'Oklahoma': 1715},
  {'Oregon': 4953},
  {'Pennsylvania': 14425},
  {'Puerto Rico': 1770},
  {'Rhode Island': 959},
  {'South Carolina': 2054},
  {'South Dakota': 223},
  {'Tennessee': 2161},
  {'Texas': 13869},
  {'Utah': 1303},
  {'Vermont': 475},
  {'Virgin Islands': 45},
  {'Virginia': 3097},
  {'Washington': 7161},
  {'West Virginia': 1206},
  {'Wisconsin': 6579},
  {'Wyoming': 589}],
 '2020-02-15': [{'Alabama': 1981},
  {'Alaska': 915},
  {'Arizona': 3538},
  {'Arkansas': 1602},
  {'California': 43445},
  {'Colorado': 2209},
  {'Connecticut': 2520},
  {'Delaware': 610},
  {'District of Columbia': 473},
  {'Florida': 5229},
  {'Georgia': 6277},
  {'Hawaii': 1199},
  {'Idaho': 1356},
  {'Illinois': 8045},
  {'Indiana': 2556},
  {'Iowa': 2239},
  {'Kansas': 2076},
  {'Kentucky': 2813},
  {'Louisiana': 1739},
  {'Maine': 790},
  {'Maryland': 3048},
  {'Massachusetts': 5393},
  {'Michigan': 5587},
  {'Minnesota': 3641},
  {'Mississippi': 861},
  {'Missouri': 3363},
  {'Montana': 921},
  {'Nebraska': 537},
  {'Nevada': 2543},
  {'New Hampshire': 424},
  {'New Jersey': 8550},
  {'New Mexico': 725},
  {'New York': 14333},
  {'North Carolina': 3094},
  {'North Dakota': 457},
  {'Ohio': 6532},
  {'Oklahoma': 1633},
  {'Oregon': 4284},
  {'Pennsylvania': 13583},
  {'Puerto Rico': 1588},
  {'Rhode Island': 996},
  {'South Carolina': 2088},
  {'South Dakota': 194},
  {'Tennessee': 2140},
  {'Texas': 12790},
  {'Utah': 1097},
  {'Vermont': 543},
  {'Virgin Islands': 40},
  {'Virginia': 2693},
  {'Washington': 6311},
  {'West Virginia': 1172},
  {'Wisconsin': 5808},
  {'Wyoming': 598}],
 '2020-02-22': [{'Alabama': 1735},
  {'Alaska': 773},
  {'Arizona': 3151},
  {'Arkansas': 1055},
  {'California': 34979},
  {'Colorado': 1862},
  {'Connecticut': 2435},
  {'Delaware': 632},
  {'District of Columbia': 422},
  {'Florida': 4861},
  {'Georgia': 5030},
  {'Hawaii': 1020},
  {'Idaho': 1114},
  {'Illinois': 11812},
  {'Indiana': 2979},
  {'Iowa': 2631},
  {'Kansas': 1494},
  {'Kentucky': 2508},
  {'Louisiana': 1798},
  {'Maine': 737},
  {'Maryland': 2700},
  {'Massachusetts': 9264},
  {'Michigan': 5942},
  {'Minnesota': 3539},
  {'Mississippi': 827},
  {'Missouri': 3063},
  {'Montana': 795},
  {'Nebraska': 493},
  {'Nevada': 2052},
  {'New Hampshire': 444},
  {'New Jersey': 8396},
  {'New Mexico': 737},
  {'New York': 14144},
  {'North Carolina': 2852},
  {'North Dakota': 435},
  {'Ohio': 6208},
  {'Oklahoma': 1509},
  {'Oregon': 3514},
  {'Pennsylvania': 12631},
  {'Puerto Rico': 1390},
  {'Rhode Island': 1921},
  {'South Carolina': 1824},
  {'South Dakota': 191},
  {'Tennessee': 1855},
  {'Texas': 12047},
  {'Utah': 1008},
  {'Vermont': 610},
  {'Virgin Islands': 55},
  {'Virginia': 2079},
  {'Washington': 5585},
  {'West Virginia': 1207},
  {'Wisconsin': 6098},
  {'Wyoming': 389}],
 '2020-02-29': [{'Alabama': 1575},
  {'Alaska': 874},
  {'Arizona': 3086},
  {'Arkansas': 1418},
  {'California': 41678},
  {'Colorado': 1681},
  {'Connecticut': 2843},
  {'Delaware': 524},
  {'District of Columbia': 452},
  {'Florida': 4853},
  {'Georgia': 5538},
  {'Hawaii': 1049},
  {'Idaho': 998},
  {'Illinois': 8980},
  {'Indiana': 2276},
  {'Iowa': 2240},
  {'Kansas': 1517},
  {'Kentucky': 2223},
  {'Louisiana': 1509},
  {'Maine': 862},
  {'Maryland': 2626},
  {'Massachusetts': 4865},
  {'Michigan': 5419},
  {'Minnesota': 3410},
  {'Mississippi': 744},
  {'Missouri': 2732},
  {'Montana': 695},
  {'Nebraska': 502},
  {'Nevada': 2324},
  {'New Hampshire': 894},
  {'New Jersey': 7773},
  {'New Mexico': 681},
  {'New York': 31208},
  {'North Carolina': 1767},
  {'North Dakota': 363},
  {'Ohio': 9916},
  {'Oklahoma': 1458},
  {'Oregon': 3936},
  {'Pennsylvania': 12045},
  {'Puerto Rico': 1296},
  {'Rhode Island': 874},
  {'South Carolina': 1977},
  {'South Dakota': 159},
  {'Tennessee': 2014},
  {'Texas': 12692},
  {'Utah': 885},
  {'Vermont': 863},
  {'Virgin Islands': 37},
  {'Virginia': 3267},
  {'Washington': 5770},
  {'West Virginia': 1108},
  {'Wisconsin': 5658},
  {'Wyoming': 471}],
 '2020-03-07': [{'Alabama': 1663},
  {'Alaska': 815},
  {'Arizona': 3357},
  {'Arkansas': 1843},
  {'California': 43385},
  {'Colorado': 1865},
  {'Connecticut': 2527},
  {'Delaware': 518},
  {'District of Columbia': 471},
  {'Florida': 5325},
  {'Georgia': 4569},
  {'Hawaii': 1275},
  {'Idaho': 938},
  {'Illinois': 8727},
  {'Indiana': 2223},
  {'Iowa': 2221},
  {'Kansas': 1365},
  {'Kentucky': 2463},
  {'Louisiana': 1698},
  {'Maine': 715},
  {'Maryland': 2675},
  {'Massachusetts': 4712},
  {'Michigan': 5150},
  {'Minnesota': 3488},
  {'Mississippi': 879},
  {'Missouri': 2994},
  {'Montana': 714},
  {'Nebraska': 501},
  {'Nevada': 2309},
  {'New Hampshire': 495},
  {'New Jersey': 7996},
  {'New Mexico': 690},
  {'New York': 14035},
  {'North Carolina': 2575},
  {'North Dakota': 423},
  {'Ohio': 6545},
  {'Oklahoma': 1569},
  {'Oregon': 4154},
  {'Pennsylvania': 12227},
  {'Puerto Rico': 1343},
  {'Rhode Island': 700},
  {'South Carolina': 1889},
  {'South Dakota': 185},
  {'Tennessee': 2032},
  {'Texas': 14355},
  {'Utah': 1015},
  {'Vermont': 446},
  {'Virgin Islands': 64},
  {'Virginia': 2527},
  {'Washington': 6616},
  {'West Virginia': 1033},
  {'Wisconsin': 5052},
  {'Wyoming': 534}],
 '2020-03-14': [{'Alabama': 1819},
  {'Alaska': 1120},
  {'Arizona': 3844},
  {'Arkansas': 1382},
  {'California': 57606},
  {'Colorado': 2321},
  {'Connecticut': 3440},
  {'Delaware': 472},
  {'District of Columbia': 1213},
  {'Florida': 6463},
  {'Georgia': 5445},
  {'Hawaii': 1589},
  {'Idaho': 1031},
  {'Illinois': 10870},
  {'Indiana': 2596},
  {'Iowa': 2229},
  {'Kansas': 1755},
  {'Kentucky': 2785},
  {'Louisiana': 2255},
  {'Maine': 634},
  {'Maryland': 3864},
  {'Massachusetts': 7449},
  {'Michigan': 5338},
  {'Minnesota': 4010},
  {'Mississippi': 1147},
  {'Missouri': 4016},
  {'Montana': 817},
  {'Nebraska': 795},
  {'Nevada': 6356},
  {'New Hampshire': 642},
  {'New Jersey': 9467},
  {'New Mexico': 869},
  {'New York': 14272},
  {'North Carolina': 3533},
  {'North Dakota': 415},
  {'Ohio': 7046},
  {'Oklahoma': 1836},
  {'Oregon': 4269},
  {'Pennsylvania': 15439},
  {'Puerto Rico': 1172},
  {'Rhode Island': 1108},
  {'South Carolina': 2093},
  {'South Dakota': 190},
  {'Tennessee': 2702},
  {'Texas': 16176},
  {'Utah': 1305},
  {'Vermont': 659},
  {'Virgin Islands': 44},
  {'Virginia': 2706},
  {'Washington': 14240},
  {'West Virginia': 865},
  {'Wisconsin': 5190},
  {'Wyoming': 517}],
 '2020-03-21': [{'Alabama': 10892},
  {'Alaska': 7847},
  {'Arizona': 29348},
  {'Arkansas': 9275},
  {'California': 186333},
  {'Colorado': 19774},
  {'Connecticut': 25100},
  {'Delaware': 10776},
  {'District of Columbia': 14462},
  {'Florida': 74313},
  {'Georgia': 12140},
  {'Hawaii': 8817},
  {'Idaho': 13586},
  {'Illinois': 114114},
  {'Indiana': 59755},
  {'Iowa': 40952},
  {'Kansas': 23563},
  {'Kentucky': 49023},
  {'Louisiana': 72438},
  {'Maine': 21459},
  {'Maryland': 42981},
  {'Massachusetts': 148452},
  {'Michigan': 128006},
  {'Minnesota': 115773},
  {'Mississippi': 5519},
  {'Missouri': 42246},
  {'Montana': 15349},
  {'Nebraska': 15700},
  {'Nevada': 92298},
  {'New Hampshire': 29379},
  {'New Jersey': 115815},
  {'New Mexico': 18105},
  {'New York': 79999},
  {'North Carolina': 94083},
  {'North Dakota': 5662},
  {'Ohio': 196309},
  {'Oklahoma': 21926},
  {'Oregon': 30054},
  {'Pennsylvania': 377451},
  {'Puerto Rico': 20148},
  {'Rhode Island': 35847},
  {'South Carolina': 31826},
  {'South Dakota': 1761},
  {'Tennessee': 38077},
  {'Texas': 155426},
  {'Utah': 19690},
  {'Vermont': 3784},
  {'Virgin Islands': 123},
  {'Virginia': 46277},
  {'Washington': 129909},
  {'West Virginia': 3536},
  {'Wisconsin': 51031},
  {'Wyoming': 3653}]}

In [ ]:
## Kana to solve mystery later##
# for key, value in states_clean.items():
#     current = []
#     for j in range(len(filtered_claim_data['State'])):
#         if filtered_claim_data['State'].iloc[j] == key:
#             state_claim_dict = {}
#             state_claim_dict[filtered_claim_data['Filed week ended'][j]] =filtered_claim_data['Initial Claims'][j]
#             current.append(state_claim_dict)
#             states_clean[key] = current
# print(states_clean)

# for key, value in dates_clean.items():
#     current = []
#     for j in range(len(filtered_claim_data['Filed week ended'])):
#         if filtered_claim_data['Filed week ended'].iloc[j] == key:
#             state_claim_dict = {}
#             print(key)
# #             print(filtered_claim_data['Filed week ended'].iloc[j] )
        
# #             print(state_claim_dict[filtered_claim_data['State'].iloc[j]])
#             print(filtered_claim_data['Initial Claims'][j])
#             state_claim_dict[filtered_claim_data['State'].iloc[j]] =filtered_claim_data['Initial Claims'][j]
#             current.append(state_claim_dict)
#             dates_clean[key] = current
# print(dates_clean)

# Kana code ends

# Connor code starts

# Connor code ends

# Nabeel code starts

# Nabeel code ends